
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;500&family=Poppins:wght@400;500;600;700&family=Roboto+Condensed:wght@700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



img {
    width: 100%;
}

.cur{
        position: fixed;
            height: 50px;
            margin: 10px 0px 0px 10px;
            width: 50px;
            background-color: aliceblue;
            border-radius: 50%;
        
            /*transform: translate(-18px, -13px);*/
            mix-blend-mode: difference;
            z-index: 1000;

}
.body{
    position: relative;
    background: white;
    color: black;
}

.container {
   
    width: 100%;
}
a{
    color: black;
}

section {
    padding: 4rem 0 3rem;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    color: black;
    font-size: 1.1rem;
    font-weight: 400;
}

#card-icon {

    font-size: 1.8rem;
    cursor: pointer;
}

/* Card */
.card {
    position: fixed;
    top: 0;
 background: white;
        color: black;
    right: -100%;
    /* width: 360px; */
    min-height: 100vh;
    padding: 20px;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}

.card.active {
    right: 0;
    width: 100%;
    overflow-y: scroll;
    height: 100%;
}

.card-title {

    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.card-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.card-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.card-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.card-price {
    font-weight: 500;
}

.card-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}



.remove {
    cursor: pointer;
    font-size: 24px;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover {
    transition: 0.3s;
}

#close-card {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.shop {
    margin-top: 2rem;
}
.SE{
    position: relative;

}
.lol{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2vw;
}
.lol5{
    cursor: pointer;
    font-size: 30px;
    margin: 20px 30px;
}
.search-list{
    position: absolute;
    margin-top: 10px;
    /* top: 0; */
    right: 0;
    background: white;
    color: black;
    width: 100%;
    font-size: 1vw;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;

}
.search input{
border-radius: 30px; padding: 6px;
width: 100%;
/* width: 10vw; */
/* font-size: 2vw; */
}
.onTop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
}
/* Shop-Content */
.shop-content {
    width: 100%;
    position: absolute;
    padding-inline: 2vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(353px, auto));
    gap: 1.5rem;
}

.product-box2 {
   
    border: 2px solid yellow;

    position: relative;
}
.product-box {
    color: black;
    overflow: hidden;
    cursor: pointer;
    height: 500px;
    /* border: 2px solid yellow; */
    position: relative;
}
.pp {
    color: white;
}
.product-box:hover .img2 {
/* transform: scaleY(1); */
  top: 0;
    transform-origin: bottom;
}

.img1{
width: 100%;
height: 100%;
position: absolute;
    top: 0;
    right: 0;
}
.img2{
    transition: 1s;
    position: absolute;
    top: -100%;
    right: 0;
    width: 100%;
        height: 100%;
    /* transform: scaleY(0); */
    /* height: 0; */
    transform-origin: bottom;
}
.product-img {
    position: relative;
    width: 100%;
    height: 75%;
    margin-bottom: 0.5rem;
    object-fit: cover;
    object-position: center;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 500;
}

.size{
    font-size: 30px;
}
.add-card {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: 2s;
    padding: 10px;
    cursor: pointer;
}

.add-card:hover {transform: 2s;
    transform: scale(2);
}

.cartItem {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: space-between;
    padding-inline: 2vw;

}
.cart2{
    position: fixed;
    top: 10vh;
    /* margin-top: 20vh; */
}

.cartItem>img {
    width: 15vw;
    border-radius: 20px;
    height: 15vw;
}

.cartItem div {
    font-size: 30px;
}

.cartItem div span{
    font-size: 30px;
}
.lol{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.card-content{
    position: relative;
    width: 100%;
    /* height: 100%; */
}

.color{
    background: black;
    color: white;
}


.section{
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 10vh;
    width: 100%;
    gap: 5vw;
    padding-inline: 2vw;
    justify-content: space-between;
    align-items: center;
}
.text{
    width: 100%;
}
.inSection{
    width: 500px;
    
}
.inSection img{
    border-radius: 5vw;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Breakpoints / Making Responsive */
@media (max-width:1080px) {
    .nav {
        padding: 15px;
    }

    section {
        padding: 3rem 0 2rem;
    }

    .container {
        margin: 0 auto;
        width: 100%;
    }

    .shop {
        margin-top: 2rem !important;
    }
}

@media (max-width:400px) {
    .nav {
        padding: 11px;
    }


    .logo {
        font-size: 1rem;
    }

    .card {
        width: 320px;
    }
        .section{
            flex-wrap: wrap;
        }
}

@media (max-width:400px) {
    .shop {
        margin-top: 1rem !important;
    }

    .card {
        width: 280px;
    }
    .lol{
        font-size: 5vw;
    }
   
}


